  {:wallet
   [{:isin "LU1681038672" :target-ratio 0.12 :qty-owned 27} ;
    {:isin "FR0010688168" :target-ratio 0.1 :qty-owned 12} ;
    {:isin "FR0010688192" :target-ratio 0.1 :qty-owned 17} ;
    {:isin "IE00B945VV12" :target-ratio 0.15 :qty-owned 203} ;
    {:isin "FR0010900076" :target-ratio 0.08 :qty-owned 76} ;
    {:isin "FR0013412020" :target-ratio 0.08 :qty-owned 171} ;
    {:isin "FR0011869304" :target-ratio 0.08 :qty-owned 212} ;
    {:isin "FR0013412285" :target-ratio 0.2 :qty-owned 404} ;
    {:isin "LU1377382285" :target-ratio 0.08 :qty-owned 25} ;
    ]}